params {
    help = false
    
    trimmomatic_adater_path =""
    reference_virus_list = ""
    kraken_db_path = ""
    kaiju_db_path= ""
    blastn_db_path= ""
    diamond_db_path=""
    taxonomizr_db_path = ""

    illumina_min_contig_length=200
    nanopore_min_read_length=200
    nanopore_read_type="1D"
    nanopore_min_contig_length=300

    reference_mapping_minimum_avg_coverage="1.0"
}

process {
   errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
   maxRetries = 3
}